{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Registrasi</title>
    <link rel="stylesheet" href="{% static 'styles/index.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1>Formulir Registrasi</h1>
      <h2>Harap lakukan registrasi sesuai dengan data asli</h2>

      <form method="post" action="/">
        {% csrf_token %}

        <!-- bagian siswa -->
        <div class="form-section">
          <h3>Data mahasiswa</h3>
          <div class="form-holder">
            <div class="field">
              <label>NIK</label>
              <input type="text" name="student-national-id" required/>
            </div>
            <div class="field">
              <label>Nama</label>
              <input type="text" name="student-name" required/>
            </div>
            <div class="field">
              <label>Tanggal Lahir</label>
              <input type="date" name="student-birth" required/>
            </div>
            <div class="field">
              <label>Jenis Kelamin</label>
              <select name="student-gender" id="gender">
                <option value="L">Laki-Laki</option>
                <option value="P">Perempuan</option>
              </select>
            </div>
            <div class="field">
              <label>Alamat</label>
              <input type="text" name="student-address" required />
            </div>
            <div class="field">
              <label>Asal Sekolah</label>
              <input type="text" name="student-education" required />
            </div>
          </div>
        </div>
        
        <!-- bagian ayah -->
        <div class="form-section">
          <h3>Data ayah/wali</h3>
          <div class="form-holder">
            <div class="field">
              <label>NIK</label>
              <input type="text" name="father-national-id" required />
            </div>
            <div class="field">
              <label>Nama</label>
              <input type="text" name="father-name" required/>
            </div>
            <div class="field">
              <label>Tanggal Lahir</label>
              <input type="date" name="father-birth" required/>
            </div>
            <div class="field">
              <label>Alamat</label>
              <input type="text" name="father-address" required/>
            </div>
            <div class="field">
              <label>Pekerjaan</label>
              <input type="text" name="father-job" required/>
            </div>
          </div>
        </div>

        <!-- bagian ibu -->
        <div class="form-section">
          <h3>Data ibu/wali</h3>
          <div class="form-holder">
            <div class="field">
              <label>NIK</label>
              <input type="text" name="mother-national-id" required/>
            </div>
            <div class="field">
              <label>Nama</label>
              <input type="text" name="mother-name" required/>
            </div>
            <div class="field">
              <label>Tanggal Lahir</label>
              <input type="date" name="mother-birth" required/>
            </div>
            <div class="field">
              <label>Alamat</label>
              <input type="text" name="mother-address" required/>
            </div>
            <div class="field">
              <label>Pekerjaan</label>
              <input type="text" name="mother-job" required/>
            </div>
          </div>
        </div>

        <div class="button-container">
            <button type="submit">Serahkan Data</button>
        </div>
      </form>
    </div>
  </body>
</html>
