{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Registrasi</title>
    <link rel="stylesheet" href="{% static 'styles/index.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1>Formulir Registrasi</h1>
      <h2>Harap lakukan registrasi sesuai dengan data asli</h2>

      <form action="">
        {% csrf_token %}

        <!-- bagian siswa -->
        <div class="form-section">
          <h3>Data mahasiswa</h3>
          <div class="form-holder">
            <div class="field">
              <label>Nama</label>
              <input type="text" />
            </div>
            <div class="field">
              <label>Tanggal Lahir</label>
              <input type="date" />
            </div>
            <div class="field">
              <label>Jenis Kelamin</label>
              <select name="gender" id="gender">
                <option value="L">Laki-Laki</option>
                <option value="P">Perempuan</option>
              </select>
            </div>
            <div class="field">
              <label>Alamat</label>
              <input type="text" />
            </div>
            <div class="field">
              <label>Asal Sekolah</label>
              <input type="text" />
            </div>
          </div>
        </div>

        <!-- bagian ayah -->
        <div class="form-section">
          <h3>Data ayah/wali</h3>
          <div class="form-holder">
            <div class="field">
              <label>Nama</label>
              <input type="text" />
            </div>
            <div class="field">
              <label>Tanggal Lahir</label>
              <input type="date" />
            </div>
            <div class="field">
              <label>Jenis Kelamin</label>
              <select name="gender" id="gender">
                <option value="L">Laki-Laki</option>
                <option value="P">Perempuan</option>
              </select>
            </div>
            <div class="field">
              <label>Alamat</label>
              <input type="text" />
            </div>
            <div class="field">
              <label>Asal Sekolah</label>
              <input type="text" />
            </div>
          </div>
        </div>

        <!-- bagian ibu -->
        <div class="form-section">
          <h3>Data ibu/wali</h3>
          <div class="form-holder">
            <div class="field">
              <label>Nama</label>
              <input type="text" />
            </div>
            <div class="field">
              <label>Tanggal Lahir</label>
              <input type="date" />
            </div>
            <div class="field">
              <label>Jenis Kelamin</label>
              <select name="gender" id="gender">
                <option value="L">Laki-Laki</option>
                <option value="P">Perempuan</option>
              </select>
            </div>
            <div class="field">
              <label>Alamat</label>
              <input type="text" />
            </div>
            <div class="field">
              <label>Asal Sekolah</label>
              <input type="text" />
            </div>
          </div>
        </div>

        <div class="button-container">
            <button type="submit">Simpan Perubahan</button>
            <button type="submit">Serahkan Data</button>
        </div>

      </form>
    </div>
  </body>
</html>
